* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
  background-color: blue;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  height: 30px;
  outline: none;
  border: 0;
  border-radius: 0;
  transition-duration: 2s;
}

button {
  height: 30px;
  padding: 0.3rem 0.5rem;
  cursor: pointer;
  outline: none;
  border: none;
}
